body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.active {
  font-weight: bold;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}